[mysqld]
innodb_buffer_pool_size = 4G
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 1
innodb_doublewrite = 1
max_allowed_packet=256M
wait_timeout=30000
innodb_data_file_path = ibdata1:12M:autoextend

tmp_table_size=2G
max_heap_table_size=2G